﻿@model WebApplication1.Models.Ticket

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TIC_ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TIC_ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TIC_TOTALAMOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIC_TOTALAMOUNT)
        </dd>

    </dl>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    TIC_ID
                </th>
                <th>
                    PAY_TOTAL
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.Payments)
            {
                <tr>
                    <td>@row.PAY_ID</td>
                    <td>@row.PAY_TOTAL</td>
                </tr>
            }
        </tbody>
    </table>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.HiddenFor(model => model.TIC_ID)
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
