﻿@model WebApplication1.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TIC_ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TIC_ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TIC_TOTALAMOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIC_TOTALAMOUNT)
        </dd>

    </dl>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                TIC_ID
            </th>
            <th>
                PAY_TOTAL
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var row in Model.Payments)
        {
        <tr>
            <td>@row.PAY_ID</td>
            <td>@row.PAY_TOTAL</td>
        </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TIC_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
