﻿@model WebApplication1.Models.Ticket

@{
    ViewBag.Title = "Index";
}

<h2>Create</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.TIC_ID, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TIC_ID)
                @Html.ValidationMessageFor(model => model.TIC_ID)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TIC_TOTALAMOUNT, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TIC_TOTALAMOUNT)
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
}

