﻿@model IEnumerable<WebApplication1.Models.Tickets_PaymentsViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Add Payment","Create","Payments",null,null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TIC_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIC_TOTALAMOUNT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAGADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FALTA)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TIC_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIC_TOTALAMOUNT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PAGADO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FALTA)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TIC_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TIC_ID }) |
                @if (item.PAGADO > 0)
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.TIC_ID })
                }

            </td>
        </tr>
    }

</table>
